
.icon-left-arrow:before { content: '\e800'; } /* '' */
.icon-right-arrow:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-return:before { content: '\e805'; } /* '' */
.icon-sale:before { content: '\e806'; } /* '' */
.icon-group-1:before { content: '\e807'; } /* '' */
.icon-phone2:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-facebook2:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-group-546:before { content: '\e811'; } /* '' */
.icon-width:before { content: '\e812'; } /* '' */
.icon-return-1:before { content: '\e813'; } /* '' */
.icon-up-open:before { content: '\e814'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */