<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="up-one desktop">
                <span>-20% na całą kolekcję zimową!></span>
            </div>
            <div class="up-two desktop">
                <div></div>
                <i class="icon-truck"> DARMOWA DOWSTAWA</i>
                <i class="icon-return"> 30 DNI NA ZWROT</i>
                <i class="icon-sale"> 10% NA PIERWSZE ZAKUPY</i>
                <div></div>
            </div>
            
            <div class="search">
                <a href="../index.html"><img src="../gfx/Armodo_pl_LOGO.png" alt="#"></a>
                <form class="desktop" action="#">
                    <input type="text"><i class="icon-search"></i>
                </form>
                <div class="bucket">
                    <div class="ico">
                        <a href="#"><i class="icon-phone"></i></a>
                        <a href="#"><i class="icon-group-1 desktop"></i></a>
                        <a href="#"><i class="icon-heart"></i></a>
                    </div>
                    <div class="backet">
                        <a href="#"><i class="icon-basket"></i>
                        <div class="desktop">
                            <span>Koszyk</span>
                            <span>225,00 zł</span>    
                        </div>
                        <i class="icon-right-arrow desktop"></i>
                        </a>
                    </div>
                    <div class="language desktop">
                        <img src="../gfx/Group 540.png" alt="#">
                        <i class="icon-down-open"></i>
                    </div>
                    <button class="mobile"><img src="../gfx/icon_hamburger.svg" alt=""></button>
                </div>
            </div>
            <nav>
                <ul>
                    <li><span>damskie</span></li>
                    <li><span>męskie</span></li>
                    <li><span>torebki</span></li>
                    <li><span>akcesoria</span></li>
                    <li>premium</li>
                    <li>marki</li>
                    <li>nowości</li>
                    <li>wyprzedaż</li>
                </ul>
            </nav>
            <div class="up-one mobile">
                <span>-20% na całą kolekcję zimową!></span>
            </div>
        </header>
    <main>
        <section class="products">
            <div class="vertical-slider desktop">
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="product-card">
                    <img src="../gfx/but5.png" alt="#">
                </div>
            </div>
            <div class="product">
                <div class="product-name desktop">
                    <div class="product-name2">
                        <span>botki karino</span>
                        <p>3019/076-F czarny - dłuższa nazwa produktu zajmująca więcej miejsca</p>
                    </div>
                    <div class="stars">
                        <span class="promo">promocja</span>
                        <div class="points">
                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star inactive"></i><span>4.5</span>
                        </div>
                    </div>
                </div>
                <div class="product-slider">
                    <div class="product-card">
                        <img src="../gfx/but5.png" alt="#">
                    </div>
                    <div class="product-card">
                        <img src="../gfx/but5.png" alt="#">
                    </div>
                    <div class="product-card">
                        <img src="../gfx/but5.png" alt="#">
                    </div>
                </div>
                <div class="product-name">
                    <div class="stars">
                        <span class="promo mobile">promocja</span>
                        <div class="points mobile">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star inactive"></i>
                            <span>4.5</span>
                        </div>
                    </div>
                    <div class="product-name2 mobile">
                        <span>botki karino</span>
                        <p>3019/076-F czarny</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="brand">
                    <a href="#">
                        <img src="../gfx/karino2.png" alt="#">
                        <p>Zobacz inne prodykty></p>
                    </a>
                </div>
                <div class="product-price">
                    <div class="discount"><span>289,00 zł</span></div>
                    <span>321,00 zł</span><span> Oszczędzasz 10% (22,56zł)</span>
                </div>
                <div class="time">
                    <i class="icon-time"><span>Zamów dziś, wyślemy w czwartek 12.02</span></i>
                </div>
                <div class="size">
                    <form action="#" id="size">
                        <select id="selectSize">
                            <option value="0">
                                <span>Wybierz rozmiar</span>
                            </option>
                            <option value="1">
                                <span>Rozmiar: </span><span>38</span>
                            </option>
                            <option value="2">
                                <span>Rozmiar: </span><span>39</span>
                            </option>
                        </select>

                    <a href="#"><i class="icon-width"></i><span>Tabela rozmiarów</span></a>
                </div>
                <div class="add">
                    <button type="submit">DODAJ DO KOSZYKA</button>
                    <i class="icon-heart"></i>
                </div>
            </form>
                <div class="benefits">
                    <div><i class="icon-truck"></i><span>Darmowa dostawa</span></div>
                    <div><i class="icon-return"></i><span>30 dni na zwrot</span></div>
                    <div class="phone">
                        <i class="icon-phone"></i>
                        <div>
                            <span>Zamów telefonicznie</span>
                            <span>+48 786818322</span></div>
                    </div>
                </div>
                <section class="color">
                    <span>Dostępne kolory</span>
                <div class="colors">
                    <div class="color-img">
                        <img src="../gfx/but5.png" alt="#">
                        <span>Czarny</span>
                    </div>
                    <div class="color-img">
                        <img src="../gfx/but5.png" alt="#">
                        <span>Brązowy</span>
                    </div>
                </div>
                </section>
            </div>
        </section>
            <div class="brand mobile">
                <a href="#">
                    <img src="../gfx/karino.png" alt="#">
                    <p>Zobacz inne prodykty></p>
                </a>
            </div>
        <section class="product-detals">
            <div class="detal-info">
                <div class="left">
                    <ul>
                        <li>Producent:</li>
                        <li>Gwarancja:</li>
                        <li>Wzór/model:</li>
                        <li>Kolor:</li>
                        <li>Cholewka:</li>
                        <li>Wnętrze i wkładka:</li>
                        <li>Podszewka:</li>
                        <li>Materiał obcasa:</li>
                        <li>Wysokość obcasa:</li>
                        <li>Grubość podeszwy:</li>
                        <li>Wysokość całkowita buta:</li>
                        <li>Pozostałe cechy:</li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>Karino></li>
                        <li>2 lata</li>
                        <li>120019</li>
                        <li>rudy 24</li>
                        <li>skóra naturalna - nubuk</li>
                        <li>skóra naturalna</li>
                        <li>podgumowana</li>
                        <li>tworzywo obłożone skórą</li>
                        <li>8 cm</li>
                        <li>0,6 cm</li>
                        <li>18,5 cm</li>
                        <li>zapinane na zamek</li>
                    </ul>
                </div>
            </div>
            <span class="info mobile">Wygodne botki marki Carinii. Wierzchnią część butów tworzy Skóra naturalna - Zamsz. Botki posiadają obcas o wysokości 9,5 cm. Botki posiadają wyściółkę, to materiał, skóra. Wkładka to skóra. Trwała podeszwa to wysokogatunkowe tworzywo. Kobiecy fason, który sprawdzi się przy różnej pogodzie.</span>
            <div class="detal-photo">
                <img src="../gfx/but5.png" alt="#">
                <img src="../gfx/but5.png" alt="#">            
            </div>

            <span class="info desktop">Wygodne botki marki Carinii. Wierzchnią część butów tworzy Skóra naturalna - Zamsz. Botki posiadają obcas o wysokości 9,5 cm. Botki posiadają wyściółkę, to materiał, skóra. Wkładka to skóra. Trwała podeszwa to wysokogatunkowe tworzywo. Kobiecy fason, który sprawdzi się przy różnej pogodzie.</span>
            
            <div class="accessories">
                    <span>DOBIERZ NIEZBĘDNE AKCESORIA</span>
                    <div class="slider-accessories">
                        <div class="slider-element">
                            <img src="../gfx/lateks-aloe.png" alt="#">
                            <div class="text">
                                <span>Wkładki do butów - Lateks Aloe Vera</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/coccine.png" alt="#">
                            <div class="text">
                                <span>ANTIACQUA - COCCINE bezbarwny impregnat w sprayu</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/lateks-aloe.png" alt="#">
                            <div class="text">
                                <span>Wkładki do butów - Lateks Aloe Vera</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/coccine.png" alt="#">
                            <div class="text">
                                <span>ANTIACQUA - COCCINE bezbarwny impregnat w sprayu</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section class="for-you">
            <span>wybrane dla ciebie</span>
            <div class="slider-for-you">
                <div class="for-you-card">
                    <img src="../gfx/but1.png" alt="#">
                </div>
                <div class="for-you-card">
                    <img src="../gfx/but1.png" alt="#">
                </div>
                <div class="for-you-card">
                    <img src="../gfx/but1.png" alt="#">
                </div>
                <div class="for-you-card">
                    <img src="../gfx/but1.png" alt="#">
                </div>
                <div class="for-you-card">
                    <img src="../gfx/but1.png" alt="#">
                </div>
            </div>
        </section>
        <section class="blog">
            <span>@armodo - sprawdź co nowego</span>
            <a href="#"><i class="icon-facebook2"></i></a><a href="#"><i class="icon-instagram"></i></a>
            <div class="blog-slider">
                <img src="../gfx/blog1.png" alt="#">
                <img src="../gfx/blog2.png" alt="#">
                <img src="../gfx/blog3.png" alt="#">
                <img src="../gfx/blog4.png" alt="#">
            </div>
        </section>



        <div id="selectSize2" class="selectSize">
            <span>PROSZĘ WYBIERZ ROZMIAR JAKI CHCIAŁBYŚ KUPIĆ</span>
            <button onclick="closeSize1()">X</button>
        </div>        
        <div id="selectSize3" class="selectSize">
            <img src="../gfx/25.svg" alt="#">
            <button onclick="closeSize2()">X</button>
        </div>
    </main>
    <footer>
        <section class="newsletter">
            <div>
                <span>- 10% na pierwsze zakupy</span>
                <span>Zapisz się do newslettera i zyskaj rabat</span>
                <a href="#"><p>OTRZYMAJ RABAT</p></a>
            </div>
        </section>
        <section class="footer-menu">
            <ul>
                <li>
                    <ul>
                        <span>moje zamowienie</span>
                        <li><a href="#">Status zamówienia</a></li>
                        <li><a href="#">Śledzenie przesyłki</a></li>
                        <li><a href="#">Chcę zareklamować towar</a></li>
                        <li><a href="#">Chcę zwrócić towar</a></li>
                        <li><a href="#">Chcę wymienić towar</a></li>
                    </ul>
                    <ul>
                        <span>moje konto</span>
                        <li><a href="#">Zarejestruj się</a></li>
                        <li><a href="#">Moje zamówienia</a></li>
                        <li><a href="#">Koszyk</a></li>
                        <li><a href="#">Ulubione</a></li>
                        <li><a href="#">Historia transakcji</a></li>
                        <li><a href="#">Moje rabaty</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                    <ul>
                        <span>regulamin</span>
                        <li><a href="#">Informacje o sklepie</a></li>
                        <li><a href="#">Wysyłka</a></li>
                        <li><a href="#">Sposoby płatności i prowizji</a></li>
                        <li><a href="#">Regulamin</a></li>
                        <li><a href="#">Polityka prywatności</a></li>
                        <li><a href="#">Odstąpienie od umowy</a></li>
                    </ul>
                    <ul>
                        <span>wiecej</span>
                        <li><a href="#">O nas</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Jak dobrać rozmiar</a></li>
                        <li><a href="#">Tabela rozmiarów</a></li>
                        <li><a href="#">Pielęgnacja obuwia</a></li>
                        <li><a href="#">Technologie</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="footer-contact desktop">
            <div><i class="icon-phone2"> +48 786818322 </i></div>
            <div><i class="icon-mail"> info@armodo.com </i></div>
            <div><i class="icon-facebook">Odwiedź nas na facebooku></i></div>
            <a href="#"><img src="../gfx/iai_logo.png" alt="#"></a>
        </section>
        <img class="desktop" src="../gfx/footer.png" alt="#">
    </footer>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>