<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="../index.html" title="main"><img src="../gfx/Armodo_pl_LOGO.png" alt="Logo"></a>
            <form action="#">
                <input type="text"><i class="icon-search"></i>
            </form>
            <a class="desktop" href="#" title="telephone"><i class="icon-phone"></i></a>
            <a class="desktop" href="#" title="account"><i class="icon-group-1"></i></a>
            <a href="#" title="likes"><i class="icon-heart"></i></a>
            <a href="#" title="basket">
            <div class="price">
                <i class="icon-basket"></i>
                <div class="desktop">
                    <span>KOSZYK</span>
                    <p>225,00zł</p>
                </div>
                <i class="icon-right-arrow desktop"></i>
            </div>
            </a>
            <div class="language desktop">
                <button><img src="../gfx/pl.png" alt="pl"><i class="icon-down-open"></i></button>
            </div>
            <button class="mobile"><img class="hamburger" src="../gfx/icon_hamburger.svg"></button>
        </header>
        <div class="discount"><a href="#" title="discount">-20% na całą kolekcję zimową!</a></div>
        <div class="benefits-baner desktop">
            <a href="#" title="dostawa"><i class="icon-truck"> darmowa dostawa</i></a>
            <a href="#" title="dostawa"><i class="icon-return"> 30dni na zwrot</i></a>
            <a href="#" title="dostawa"><i class="icon-sale"> 10% na pierwsze zakupy</i></a>
        </div>
        <nav>
            <ul>
                <li><a href="#" title="damskie">DAMSKIE</a>
                <ul>
                    <li></li>
                </ul>
                </li>
                <li><a href="#" title="meskie">MĘSKIE</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="torebki">TOREBKI</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="akcesoria">AKCESORIA</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="premium">PREMIUM</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="marki">MARKI</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="nowosci">NOWOŚCI</a>
                <ul>
                    <li></li>
                </ul></li>
                <li><a href="#" title="wyprzedaz">WYPRZEDAŻ</a>
                <ul>
                    <li></li>
                </ul></li>
            </ul>
        </nav>
        <main>
            <section class="product">
                <div class="link desktop">
                    <span>Obuwie damskie</span><i class="icon-right-arrow"></i><span>Kozaki - botki damskie</span><i class="icon-right-arrow"></i><span>Botki</span><i class="icon-right-arrow"></i><span>Twinset Botki Texano 192TCP10G</span>
                </div>
                <div class="vertical-slider desktop">
                    <div class="vertical-slider-items">
                        <img src="../gfx/product1.png" alt="product1">
                        <img src="../gfx/product2.png" alt="product2">
                        <img src="../gfx/but5.png" alt="product3">
                        <img src="../gfx/product1.png" alt="product1">
                        <img src="../gfx/product2.png" alt="product2">
                        <img src="../gfx/but5.png" alt="product3">
                        <img src="../gfx/product1.png" alt="product1">
                        <img src="../gfx/product2.png" alt="product2">
                        <img src="../gfx/but5.png" alt="product3">
                    </div>
                </div>
                <div class="main-slider">
                    <img src="../gfx/but5.png" alt="product3">
                    <img src="../gfx/but5.png" alt="product3">
                    <img src="../gfx/but5.png" alt="product3">
                </div>
                <div class="info">
                    <a href="#" title="karino"><img src="../gfx/karino2.png" alt="brand"></a>
                    <div class="price">
                        <span>289,00 zł</span>
                        <div><span>321,00 zł</span><span>Oszczędzasz 10% (22,56 zł)</span></div>
                    </div>
                    
                    <i>Zamów dziś, wyślemy w czwartek 12.02</i>
                <form action="#" id="size">
                    <select id="selectSize">
                        <option value="0">
                            <span>Wybierz rozmiar</span>
                        </option>
                        <option value="1">
                            <span>Rozmiar: </span><span>38</span>
                        </option>
                        <option value="2">
                            <span>Rozmiar: </span><span>39</span>
                        </option>
                    </select>
                    <i class="icon-width"><a href="#" title="size"> Tabela rozmiarów</a></i>
                    <div class="add"><button type="submit"> dodaj do koszyka</button><i class="icon-heart"></i></div>
                </form>    
                        <i class="icon-truck">Darmowa dostawa</i>
                        <i class="icon-return">30 dni na zwrot</i>
                        <i class="icon-phone">Zamów telefonicznie | +48 786818322</i>
                </div>
                <div class="color">
                    <a href="#" title="color1"><img src="../gfx/but5.png" alt="but">czarny</a>
                    <a href="#" title="color1"><img src="../gfx/but5.png" alt="but">brązowy</a>
                </div>
            </section>
            <section class="detal-info">
                <div class="info">
                    <div class="left">
                        <ul>
                            <li>Producent:</li>
                            <li>Gwarancja:</li>
                            <li>Wzór/model:</li>
                            <li>Kolor:</li>
                            <li>Cholewka:</li>
                            <li>Wnętrze i wkładka:</li>
                            <li>Podszewka:</li>
                            <li>Materiał obcasa:</li>
                            <li>Wysokość obcasa:</li>
                            <li>Grubość podeszwy:</li>
                            <li>Wysokość całkowita buta:</li>
                            <li>Pozostałe cechy:</li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul>
                            <li>Karino></li>
                            <li>2 lata</li>
                            <li>120019</li>
                            <li>rudy 24</li>
                            <li>skóra naturalna - nubuk</li>
                            <li>skóra naturalna</li>
                            <li>podgumowana</li>
                            <li>tworzywo obłożone skórą</li>
                            <li>8 cm</li>
                            <li>0,6 cm</li>
                            <li>18,5 cm</li>
                            <li>zapinane na zamek</li>
                        </ul>
                    </div>
                </div>
                <span class="info-text">Wygodne botki marki Carinii. Wierzchnią część butów tworzy Skóra naturalna - Zamsz. Botki posiadają obcas o wysokości 9,5 cm. Botki posiadają wyściółkę, to materiał, skóra. Wkładka to skóra. Trwała podeszwa to wysokogatunkowe tworzywo. Kobiecy fason, który sprawdzi się przy różnej pogodzie.</span>
                <div class="detal-photo">
                    <img src="../gfx/but5.png" alt="#">
                    <img src="../gfx/but5.png" alt="#">
                </div>
                <div class="accessories">
                    <span>DOBIERZ NIEZBĘDNE AKCESORIA</span>
                    <div class="slider-accessories">
                        <div class="slider-element">
                            <img src="../gfx/lateks-aloe.png" alt="#">
                            <div class="text">
                                <span>Wkładki do butów - Lateks Aloe Vera</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/coccine.png" alt="#">
                            <div class="text">
                                <span>ANTIACQUA - COCCINE bezbarwny impregnat w sprayu</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/lateks-aloe.png" alt="#">
                            <div class="text">
                                <span>Wkładki do butów - Lateks Aloe Vera</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                        <div class="slider-element">
                            <img src="../gfx/coccine.png" alt="#">
                            <div class="text">
                                <span>ANTIACQUA - COCCINE bezbarwny impregnat w sprayu</span>
                                <p>8,50 zł</p>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            <span class="for-you-title">WYBRANE DLA CIEBIE</span>
            <section class="for-you-slider">
                    <div class="for-you-slider-card">
                        <a href="../view/product.html" title="boots"><img src="../gfx/but1.png" alt="boots"></a>
                        <span>Botki KARINO</span>
                        <p>3019/076-f czarny</p>
                        <p>289,00 zł</p>
                    </div>
                    <div class="for-you-slider-card">
                        <a href="../view/product.html" title="boots"><img src="../gfx/but2.png" alt="boots"></a>
                        <span>Botki KARINO</span>
                        <p>3019/076-f czarny</p>
                        <p>289,00 zł</p>
                    </div>
                    <div class="for-you-slider-card">
                        <a href="../view/product.html" title="boots"><img src="../gfx/but3.png" alt="boots"></a>
                        <span>Botki KARINO</span>
                        <p>3019/076-f czarny</p>
                        <p>289,00 zł</p>
                    </div>
                    <div class="for-you-slider-card">
                        <a href="../view/product.html" title="boots"><img src="../gfx/but4.png" alt="boots"></a>
                        <span>Botki KARINO</span>
                        <p>3019/076-f czarny</p>
                        <p>289,00 zł</p>
                    </div>
                    <div class="for-you-slider-card">
                        <a href="../view/product.html" title="boots"><img src="../gfx/but5.png" alt="boots"></a>
                        <span>Botki KARINO</span>
                        <p>3019/076-f czarny</p>
                        <p>289,00 zł</p>
                    </div>
            </section>
            <span class="blog-title">@armodo - sprawdź co nowego</span>
            <i class="icon-facebook2"></i><i class="icon-instagram"></i>
            <section class="blog-slider">
                <a href="#" title="blog"><img src="../gfx/blog1.png" alt="blog1"></a>
                <a href="#" title="blog"><img src="../gfx/blog2.png" alt="blog2"></a>
                <a href="#" title="blog"><img src="../gfx/blog3.png" alt="blog3"></a>
                <a href="#" title="blog"><img src="../gfx/blog4.png" alt="blog4"></a>
            </section>
            <span class="opinion-title"> opinie naszych kilentów</span>
            <section class="opinion"></section>
            <span class="for-you-title">spodobają ci się również</span>
            <section class="for-you-slider">
                <div class="for-you-slider-card">
                    <a href="../view/product.html" title="boots"><img src="../gfx/but1.png" alt="boots"></a>
                    <span>Botki KARINO</span>
                    <p>3019/076-f czarny</p>
                    <p>289,00 zł</p>
                </div>
                <div class="for-you-slider-card">
                    <a href="../view/product.html" title="boots"><img src="../gfx/but2.png" alt="boots"></a>
                    <span>Botki KARINO</span>
                    <p>3019/076-f czarny</p>
                    <p>289,00 zł</p>
                </div>
                <div class="for-you-slider-card">
                    <a href="../view/product.html" title="boots"><img src="../gfx/but3.png" alt="boots"></a>
                    <span>Botki KARINO</span>
                    <p>3019/076-f czarny</p>
                    <p>289,00 zł</p>
                </div>
                <div class="for-you-slider-card">
                    <a href="../view/product.html" title="boots"><img src="../gfx/but4.png" alt="boots"></a>
                    <span>Botki KARINO</span>
                    <p>3019/076-f czarny</p>
                    <p>289,00 zł</p>
                </div>
                <div class="for-you-slider-card">
                    <a href="../view/product.html" title="boots"><img src="../gfx/but5.png" alt="boots"></a>
                    <span>Botki KARINO</span>
                    <p>3019/076-f czarny</p>
                    <p>289,00 zł</p>
                </div>
        </section>
        <div id="selectSize2" class="selectSize">
            <span>PROSZĘ WYBIERZ ROZMIAR JAKI CHCIAŁBYŚ KUPIĆ</span>
            <button onclick="closeSize1()">X</button>
        </div>        
        <div id="selectSize3" class="selectSize">
            <img src="../gfx/25.svg" alt="#">
            <button onclick="closeSize2()">X</button>
        </div>
        </main>
        <footer>
            <section class="newsletter">
                <span>- 10% na pierwsze zakupy zapisz się do newslettera i zyskaj rabat</span>
                <a href="#" title="newsletter">otrzymaj rabat</a>
            </section>
            <section class="footer-menu">
                <ul>
                    <li>
                        <div>
                                <span class="mobile" onclick="toggleDisplay('footer1')">moje zamowienie</span>
                            <ul id="footer1">
                                <li><a href="#">Status zamówienia</a></li>
                                <li><a href="#">Śledzenie przesyłki</a></li>
                                <li><a href="#">Chcę zareklamować towar</a></li>
                                <li><a href="#">Chcę zwrócić towar</a></li>
                                <li><a href="#">Chcę wymienić towar</a></li>
                            </ul>
                        </div>
                        <div>
                                <span class="mobile" onclick="toggleDisplay('footer2')">moje konto</span>
                            <ul id="footer2">
                                <li><a href="#">Zarejestruj się</a></li>
                                <li><a href="#">Moje zamówienia</a></li>
                                <li><a href="#">Koszyk</a></li>
                                <li><a href="#">Ulubione</a></li>
                                <li><a href="#">Historia transakcji</a></li>
                                <li><a href="#">Moje rabaty</a></li>
                                <li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                        <div>
                                <span class="mobile" onclick="toggleDisplay('footer3')">regulamin</span>
                            <ul id="footer3">
                                <li><a href="#">Informacje o sklepie</a></li>
                                <li><a href="#">Wysyłka</a></li>
                                <li><a href="#">Sposoby płatności i prowizji</a></li>
                                <li><a href="#">Regulamin</a></li>
                                <li><a href="#">Polityka prywatności</a></li>
                                <li><a href="#">Odstąpienie od umowy</a></li>
                            </ul>
                        </div>
                        <div>
                        <span class="mobile" onclick="toggleDisplay('footer4')">wiecej</span>
                        <ul id="footer4">
                            <li><a href="#">O nas</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Jak dobrać rozmiar</a></li>
                            <li><a href="#">Tabela rozmiarów</a></li>
                            <li><a href="#">Pielęgnacja obuwia</a></li>
                            <li><a href="#">Technologie</a></li>
                        </ul>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="contact">
                <i class="icon-phone desktop">+48 786818322</i><i class="icon-mail desktop">info@armodo.com</i><i class="icon-facebook desktop">Odwiedź nas na facebooku <i class="icon-right-arrow"></i></i>
                <img src="../gfx/iai_logo.png" alt="iai">
            </section>
            <img class="desktop" src="../gfx/footer.png" alt="footer">
        </footer>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>